
Language: Cpp
BasedOnStyle: Google
AccessModifierOffset: -1
AlignAfterOpenBracket: Align
AlignConsecutiveDeclarations: true
ColumnLimit: 90
Standard: c++17
TabWidth: 2
UseTab: Never
ReflowComments:  false
IncludeBlocks: Preserve
AlignConsecutiveDeclarations: true